@import 'modules/normalize';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/mixins';
// base
*, *:after, *:before {
  box-sizing: border-box;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a,input{
  outline:none;
}
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body{
  background:$white; 
  font-family:$font1;
  font-weight:$f-regular;
  @include fontsize(1.5, 2);
  min-height:100%;
}
// global form elements
h1,h2,h3,h4,h5,h6,p{
  padding:0;
  margin:0;
}
// ## module
.carrefour-module-signin-form{
  // statics
  // -- container
  $width-container: 800px;
  $padding-container: 0 0px;
  $padding-header: 30px 0 68px 0;
  // -- logo
  $width-logo: 212px;
  $height-logo: 54px; 
  // -- form
  $width-form: 400px;
  $padding-form:29px 0;
  $radius:3px;
  input[type='checkbox']{
    opacity:0;
    position:absolute;
    & + label{
      transition:all ease-in 0.3s;
    }
    & + label span {
      display:inline-block;
      width: 20px;
      height: 20px;
      background:$primary-color-3;
      border-radius:$radius;
      margin: -2px 10px 0 0;
      vertical-align:middle;
      cursor:pointer;
      transition:all ease-in 0.3s;
    }
    &:checked + label span {
      &:after{
        content:'';
        display: block;
        width: 6px;
        height: 11px;
        border: solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        margin-left: 8px;
        margin-top: 3px;
      }
    }
    &:focus,&:active{
      & + label{
        color:darken($primary-color-3,85%);
        span{
          background:darken($primary-color-3,85%);
        }
      }
    }
  }
  // ================
  // module structure
  margin: 0 auto;
  height:100%;
  min-width:320px;
  @include tableteUp(){
    width:$width-container;
    padding:$padding-container;
  }
  .__signin-form-header{
    padding:30px 0 38px;
    justify-content: center;
    align-items:center;
    @include tableteUp(){
      display:flex;
      padding:$padding-header;
    }
    .__signin-form-logo{
      flex:1;
      & > a{
        display:block;
        background-image:url('../img/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        width:$width-logo;
        height:$height-logo;
        background-size:100%;
        margin:0 auto 30px auto;
        display:block;
        @include tableteUp(){
          margin: 0;
        }        
      }
    }
    .__signin-form-search{
      position: relative;
      @include tableteUp(){
        top:4px;
      }
      input[type=search] {
        background-color:$primary-color-4;
        border:0;
        border-radius:$radius;
        padding:1em .5em;
        width: 100%;
        cursor: pointer;
        transition:width ease-in 0.3s;
        position:relative;
        @include tableteUp(){
          width: 55px;
          color: transparent;
          &:focus{
            width: 280px;
            padding-left: 32px;
            padding-right:32px;
            color:$primary-color-3;
            cursor: auto;
          } 
        }
      }  
      .__search-zoom{
        background-color:$primary-color-4;        
        display:block;
        position:absolute;
        background-image:url('../img/icon-search.png');
        background-repeat:no-repeat; 
        border:0;
        right: 0;
        top: 0;
        pointer-events: none;
        width: 54px;
        height: 100%;
        background-position: center;
      }
    }
  }
  .__signin-form{
    display:flex;
    align-content: center;
    justify-content: center;
    // styling
    transform:translate(0, 5vh);
    transition:all ease 0.6s;
    transition-delay:0.5s;
    opacity:0;
    &.active{
      transform:translate(0, 0);
      opacity:1;
    }
    &.success{
      & > form{
        button{
          transition:all ease 0.5s;
          &:after{
            content: 'Success' !important;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background:$module-color-4;
            height: 100%;
            vertical-align: middle;
            display: block;
            padding: 1em 2em;
            transform: translate(0vh,0vh);
          }
        }
      }
    }
    // -- structure
    border-radius:$radius;    
    border:2px solid $module-color-1;
    padding:$padding-form; 
    margin:0 auto;
    @include tableteUp(){
      width:$width-form;
    }
    & > form{
      width:90%;
      @include tableteUp(){
        width:78%;
      }
      margin:0 auto;
      // -- heading
      .__signin-form-heading{
        text-align:center;
        // -- typgraphy
        h1{
          font-weight:$f-semibold;
          @include fontsize(2.4, 2.16);
          margin-bottom:10px;
          color:$primary-color-1;
        }
        & > p{
          color:$primary-color-2;
          @include fontsize(1.4, 2.16);
          letter-spacing:0.2px;
          margin-bottom:25px;
        }
      }
      .__signin-form-utility{
        position:relative;
        z-index: 1;
        display:flex;
        margin:16px 0;
        align-items: center;
        @include fontsize(1.2,1.2);
        .__signin-form-utility-checkbox{
          width:100%;
          display:block;
          color:$primary-color-1;
        }
        .__signin-form-utility-forgot-password{
          display:block;
          width:100%;
          text-align:right;
          a{
            text-decoration:none;
            color:$primary-color-3;
            transition: all ease 0.6s;
            border-bottom:1px solid transparent;
            &:focus,&:active,&:hover{
              color:darken($primary-color-3,85%);
              transition: all ease 0.6s;
              border-color:darken($primary-color-3,85%);
            }
          }
        }
      }
      .input{
        position: relative;
        z-index: 1;
        display: block;
        overflow: hidden;
        & > input{
          -webkit-appearance: none; 
          display: block;
          float: right;
          border: none;
          border-radius: 0;
          position: absolute;
          z-index: 100;
          left:1.6em;
          width: 86%;
          background: transparent;
          @include fontsize(1.4, 2);
          transition:border-color 1s ease-in;
          height: 30px;
          padding: 0;
          bottom: 9px;
          &:focus {
            outline: none;
          }
          &:focus + label{
            &:before{
              border-color: $primary-color-2 !important;
            }
          }          
        }
        & > label{
          display:block;
          float:right; 
          color: #6a7989;
          user-select: none;
          padding: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          text-align: left;
          -webkit-font-smoothing: antialiased;
          -webkit-touch-callout: none;
          & > span{
            @include fontsize(1.4,2);
            position: relative;
            display: block;
            width: 100%;
            padding: 3.1em 1em 1em 1.6em;
            transform-origin: 0% 50%;
            transition: transform 0.3s, color 0.3s;
            text-rendering: geometricPrecision;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 0px solid transparent;
            }
          }
          &:before{
            transition: all 1s ease;    
            content:''; 
            display:block;
            width:calc(100% - 6px);
            border:1px solid $module-color-1;
            padding: 2.3rem;
            position:absolute;
            left:3px;
            bottom:0px;
            border-radius: $radius;
            position: absolute;
          }
        }
        .parsley-errors-list{
          position: absolute;
          top: 11px;
          z-index: 2;
          @include fontsize(1.2,1.2);
          text-align: right;
          display: block;
          list-style: none;
          padding: 0;
          width: 100%;
          color:$module-color-2;
          padding:0;
          margin:0;
          li{
            background:$modile-color-3;
            display: inline;
            padding: 4px 15px;
          }
        }
        &.input-active {
          & > input + label,
          & > input:focus + label{
            &:before{
              border-color: $primary-color-2 !important;
            }
          }
          & > input:focus + label{
            &:before{            
              box-shadow:0px 0 3px 1px $module-color-5;
            }
          }
        }
        &.parsley-error-wrap{
           label{
            &:before{
              border-color:$module-color-2 !important;
            }  
          }
        }
        &.input-active label span,
        & > input:focus + label span{
          font-style:italic;
          font-weight:$f-semibold;
          transform: translate3d(-1.3em,-2.8em, 0) scale3d(1, 1, 1) translateZ(1px);
        }
      }
      button{
        @include fontsize(2.0,1.0);
        margin:20px 0 11px;
        overflow: hidden;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        display: block;
        padding: 1em 2em;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        color:$white;
        cursor:pointer;
        display:block;
        width:100%;
        outline:none;
        border:0;
        background:$primary-color-3;
        transition:all ease 0.5s;
        text-transform: uppercase;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 150%;
          height: 100%;
          z-index: -1;
          transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
          transform-origin: 0% 100%;
          transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
          transition-timing-function: cubic-bezier(0.2, 1, 0.3,1);
        }
        &:after{
          transition:all ease 0.5s;
          transform: translate(0vh,-2vh);
        }
        &:hover,&:focus{
          color:$white;
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          &:before{
            opacity: 1;
            background:darken($primary-color-3,10%);
            transform: rotate3d(0, 0, 1, 0deg);
            transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
          }
        }
      }
    }
  }
  .__related-products{
    margin: 70px 0;
    border-top: 1px solid $module-color-1;
    display: block;
    padding-top: 70px;
    .product-cards-wrap{
      display:block;
      @include tableteUp(){
        display:flex;
      }
      .product-card{
        display:block;
        outline:none;
        text-decoration: none;
        transition: all 1s ease;        
        margin:0 auto 30px auto;
        max-width: 224px;
        @include tableteUp(){
          max-width:auto;
          margin-right:4em;
        }
        .product-card-image{
          margin-bottom:20px;
          img{
            transition: all 1s ease;
            display:block;
            border:2px solid $module-color-1
         }
        }
        .product-card-stats{
          h2{
            @include fontsize(1.4,1.4);
            color:$primary-color-1;
            font-weight:normal;
            margin-bottom:10px;
          }
          .product-card-price{
            @include fontsize(1.8,1.8);
            color:$primary-color-1;
            font-weight:$f-semibold;
            margin-bottom:10px;
          }
        }
        &:focus,&:hover{
          .product-card-image{
            img{
              border-color:$primary-color-1;
            }
          }
          .product-card-stats{
            h2{
              color:$primary-color-3;
            }
            .product-card-price{
              color:$primary-color-3;
            }
          }
        }
      }
    }
  }
}